<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Auto ML</h1>
        <p>Select an option below to get started:</p>
        <div class="buttons">
            <a href="/train" class="button">Train Model</a>
            <a href="/predict" class="button">Batch Prediction</a>
            <a href="/predict_single" class="button">Single Prediction</a>
        </div>
    </div>
</body>
</html>
